*.jar

# Maven
target

# IDEA
*.iml
**/out/
!src/**/out/

# Based on https://jasonstitt.com/gitignore-whitelisting-patterns
.idea/*
!.idea/**/
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Eclipse
.settings
.project
.classpath

.vs

.gradle
**/build/
!src/**/build/

**/generated/
!src/**/generated/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

